@media (max-width: 991px) {
    main {
        .day-details {
            .WeatherSummary {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .search {
            width: 280px;
        }
        .location_name {
            display: none;
        }
        .DtoF {
            float: right;
        }
    }
}

@media (max-width: 576px) {
    header {
        .search {
            width: 260px;
        }
    }
}

@media (max-width: 415px) {
    main {
        padding: 0 45px!important;
    }
}

@media (max-width: 376px) {
    header {
        .search {
            width: 240px;
        }
    }
    main {
        padding: 0 25px!important;
    }
}