@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;400;800&family=Roboto:wght@100;300;400;700;900&display=swap");
/*
font-family: 'Hahmlet', serif;
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3C5C8E;
  color: white;
}

header {
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 48px;
}

header .search {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  border-radius: 35px;
  padding: 3px;
  margin: 9px 10px;
  float: left;
}

header .search input {
  margin-left: 12px;
  width: 84%;
  background-color: #f0f8ff00;
  border: none;
  outline: none;
  color: #FFFFFF;
}

header .search button {
  border: none;
  background: #ffffff00;
}

header .search button img {
  margin-top: -3px;
}

header .location_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 260px;
  height: 100%;
  padding: 12px 20px;
  color: #FFFFFF;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header .location_name img {
  width: 15px;
  height: 15px;
  margin: 3px 5px 0px 5px;
}

header .location_name:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

header .DtoF {
  float: right;
}

header .DtoF .switch-button {
  margin: 7px 7px;
  background: #00000033;
  border-radius: 5px;
  overflow: hidden;
  width: 60px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  padding-right: 30px;
  opacity: 0.7;
  cursor: pointer;
}

header .DtoF .switch-button:before {
  content: "°C";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  pointer-events: none;
}

header .DtoF .switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

header .DtoF .switch-button-checkbox:checked + .switch-button-label:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

header .DtoF .switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 3px 0;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

header .DtoF .switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #ffffff5c;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

header .DtoF .switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

main .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  margin-top: 15px;
  margin-left: 10px;
}

main .heading h5 {
  font-size: 18px;
}

main .heading p {
  font-size: 13px;
  line-height: 5px;
  font-weight: normal;
}

main .heading img {
  background-color: #ffffff3b;
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid;
}

main .day-details {
  margin-bottom: 2rem;
}

main .day-details .WeatherSummary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .day-details .WeatherSummary .OverviewCurrentTemperature {
  line-height: 96px;
  font-size: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

main .day-details .WeatherSummary .OverviewCurrentTemperature img {
  max-width: 85px;
}

main .day-details .WeatherSummary .OverviewCurrentTemperature span {
  margin: 0 0 0 10px;
}

main .day-details .WeatherSummary .OverviewCurrentTemperature .f_or_c {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  padding: 14px 10px 0 10px;
}

main .day-details .WeatherSummary .OverviewCurrentTemperature .f_or_c p {
  margin: 0;
}

main .day-details .WeatherSummary .CurrentWeatherSummary .CurrentWeatherHeading {
  font-size: 32px;
  font-weight: 500;
  margin: 10px 0 5px 0;
}

main .day-details .WeatherSummary .CurrentWeatherSummary .CurrentWeatherHeading button {
  border: none;
  background: none;
  margin-left: 5px;
}

main .day-details .WeatherSummary .CurrentWeatherSummary p {
  opacity: 0.8;
}

main .day-details .detailLine {
  margin: 15px 10px;
}

main .day-details .detailLine .detail_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .day-details .detailLine .detail_item img {
  width: 25px;
  opacity: 0.8;
}

main .day-details .detailLine .detail_item .item_text {
  padding-left: 5px;
}

main .day-details .detailLine .detail_item .item_text p {
  margin: 10px 0 5px 0px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  opacity: 0.8;
}

main .day-details .detailLine .detail_item .item_text h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

main .week-details .detail_item {
  width: 150px;
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

main .week-details .detail_item .iconBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .week-details .detail_item .iconBody img {
  width: 30px;
}

main .week-details .detail_item .iconBody .precipitation {
  margin-top: -16px;
  margin-left: 7px;
}

main .week-details .detail_item .iconBody .precipitation img {
  width: 8px;
  height: 8px;
  margin-top: -5px;
  margin-right: 2px;
}

main .week-details .detail_item h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

main .map {
  margin-top: 10px;
  margin-bottom: 10px;
}

main .map iframe {
  border-radius: 4px;
}

@media (max-width: 991px) {
  main .day-details .WeatherSummary {
    display: block;
  }
}

@media (max-width: 768px) {
  header .search {
    width: 280px;
  }
  header .location_name {
    display: none;
  }
  header .DtoF {
    float: right;
  }
}

@media (max-width: 576px) {
  header .search {
    width: 260px;
  }
}

@media (max-width: 415px) {
  main {
    padding: 0 45px !important;
  }
}

@media (max-width: 376px) {
  header .search {
    width: 240px;
  }
  main {
    padding: 0 25px !important;
  }
}
/*# sourceMappingURL=style.css.map */