@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;400;800&family=Roboto:wght@100;300;400;700;900&display=swap');

/*
font-family: 'Hahmlet', serif;
font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
    box-sizing: border-box;
    background-color: #3C5C8E;
    color: white;
}

header {
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    height: 48px;
    //  padding: 9px 0px;
    .search {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
        background-color: rgba(255, 255, 255, 0.2);
        width: 300px;
        border-radius: 35px;
        padding: 3px;
        margin: 9px 10px;
        float: left;
        input {
            margin-left: 12px;
            width: 84%;
            background-color: #f0f8ff00;
            border: none;
            outline: none;
            color: #FFFFFF;
        }
        button {
            border: none;
            background: #ffffff00;
            img {
                margin-top: -3px;
            }
        }
    }
    .location_name {
        display: flex;
        float: left;
        width: 260px;
        height: 100%;
        padding: 12px 20px;
        color: #FFFFFF;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        img {
            width: 15px;
            height: 15px;
            margin: 3px 5px 0px 5px;
        }
    }
    .location_name:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .DtoF {
        float: right;
        .switch-button {
            margin: 7px 7px;
            background: #00000033;
            border-radius: 5px;
            overflow: hidden;
            width: 60px;
            text-align: center;
            font-size: 18px;
            letter-spacing: 1px;
            // color: #155FFF;
            position: relative;
            padding-right: 30px;
            opacity: 0.7;
            cursor: pointer;
            &:before {
                content: "°C";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                pointer-events: none;
            }
            &-checkbox {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;
                &:checked+.switch-button-label:before {
                    transform: translateX(30px);
                    transition: transform 300ms linear;
                }
                &+.switch-button-label {
                    position: relative;
                    padding: 3px 0;
                    display: block;
                    user-select: none;
                    pointer-events: none;
                    &:before {
                        content: "";
                        background: #ffffff5c;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 5px;
                        // transform: translateX(0);
                        transition: transform 300ms;
                    }
                    .switch-button-label-span {
                        position: relative;
                    }
                }
            }
        }
    }
}

main {
    .heading {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;
        margin-top: 15px;
        margin-left: 10px;
        h5 {
            font-size: 18px;
        }
        p {
            font-size: 13px;
            line-height: 5px;
            font-weight: normal;
        }
        img {
            background-color: #ffffff3b;
            padding: 5px;
            border-radius: 50%;
            margin-left: 10px;
            border: 1px solid;
        }
    }
    .day-details {
        margin-bottom: 2rem;
        .WeatherSummary {
            display: flex;
            .OverviewCurrentTemperature {
                line-height: 96px;
                font-size: 96px;
                display: flex;
                margin-right: 2rem;
                img {
                    max-width: 85px;
                }
                span {
                    margin: 0 0 0 10px
                }
                .f_or_c {
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: bold;
                    text-align: center;
                    padding: 14px 10px 0 10px;
                    p {
                        margin: 0;
                    }
                }
            }
            .CurrentWeatherSummary {
                .CurrentWeatherHeading {
                    font-size: 32px;
                    font-weight: 500;
                    margin: 10px 0 5px 0;
                    button {
                        border: none;
                        background: none;
                        margin-left: 5px;
                    }
                }
                p {
                    opacity: 0.8;
                }
            }
        }
        .detailLine {
            margin: 15px 10px;
            .detail_item {
                display: flex;
                align-items: center;
                img {
                    width: 25px;
                    opacity: 0.8;
                }
                .item_text {
                    padding-left: 5px;
                    p {
                        margin: 10px 0 5px 0px;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: normal;
                        line-height: 16px;
                        opacity: 0.8;
                    }
                    h6 {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .week-details {
        .detail_item {
            width: 150px;
            background: rgba(255, 255, 255, 0.08);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            .iconBody {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                }
                .precipitation {
                    margin-top: -16px;
                    margin-left: 7px;
                    img {
                        width: 8px;
                        height: 8px;
                        margin-top: -5px;
                        margin-right: 2px;
                    }
                }
            }
            h6 {
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
            }
        }
    }
    .map {
        margin-top: 10px;
        margin-bottom: 10px;
        iframe {
            border-radius: 4px;
        }
    }
}

@import "media";