@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;400;800&family=Roboto:wght@100;300;400;700;900&display=swap");
/*
font-family: 'Hahmlet', serif;
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #195769;
  color: white;
}

header {
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 48px;
}

header .search {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  border-radius: 35px;
  padding: 3px;
  margin: 9px 10px;
  float: left;
}

header .search input {
  margin-left: 12px;
  width: 84%;
  background-color: #f0f8ff00;
  border: none;
  outline: none;
  color: #FFFFFF;
}

header .search button {
  border: none;
  background: #ffffff00;
}

header .search button img {
  margin-top: -3px;
}

header .location_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 260px;
  height: 100%;
  padding: 12px 20px;
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

header .location_name img {
  width: 15px;
  height: 15px;
  margin: 3px 5px 0px 5px;
}

header .location_name:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

header .DtoF {
  float: right;
}

header .DtoF .switch-button {
  margin: 7px 7px;
  background: #00000033;
  border-radius: 5px;
  overflow: hidden;
  width: 60px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  padding-right: 30px;
  opacity: 0.7;
  cursor: pointer;
}

header .DtoF .switch-button:before {
  content: "°C";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  pointer-events: none;
}

header .DtoF .switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

header .DtoF .switch-button-checkbox:checked + .switch-button-label:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

header .DtoF .switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 3px 0;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

header .DtoF .switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #ffffff5c;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

header .DtoF .switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

main .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

main .heading img {
  background-color: #ffffff3b;
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid;
}

main .details {
  background-image: url("../images/Rain1.png");
  height: 270px;
  width: 612px;
  border-radius: 6px;
  padding: 15px 18px;
}

main .details .details_content {
  margin-bottom: 18px;
}

main .details .details_content .details_content_time h6 {
  margin-bottom: 0;
}

main .details .details_content .details_content_temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .details .details_content .details_content_temp span {
  margin-left: 8px;
  font-size: 64px;
}

main .details .details_content .details_content_temp .details_content_temp_day {
  margin-top: 22px;
  margin-left: 35px;
}

main .details .details_content .details_content_temp .details_content_temp_day h5 {
  margin-bottom: 5px;
}

main .details .details_content .details_content_temp .details_content_temp_day span {
  font-size: 14px;
  opacity: 0.8;
  margin-left: 0;
}

main .details .details_content_temp_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .details .details_content_temp_all .all {
  padding-right: 72px;
}

main .details .details_content_temp_all .all span {
  font-size: 12px;
  opacity: 0.7;
}

main .map {
  width: 300px;
  height: 270px;
}

main .map a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

main .map a .img_map_1 {
  display: block;
  margin: 0;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 6px;
}

main .map a .img_map_2 {
  display: block;
  margin: 0;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.55;
  border-radius: 6px;
}

main .map a .map_l {
  overflow: hidden;
  -o-object-fit: none !important;
     object-fit: none !important;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 6px;
}

main .map a .map_l .map_p {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: visible;
  background: #ffd02e;
  border: 3px solid #FFF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

main .map a .map_l .map_p:before {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  min-width: 12px;
  border-radius: 50%;
  -webkit-animation: locationPinBorder 2s ease-out;
          animation: locationPinBorder 2s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */